.listContainer {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 70%;
}

.filterTitle {
    font-size: large;
    text-align: left;
}

.filterOption {
    /* margin: 5px */
    margin-right: 5px; /* Adjust the spacing between checkbox and text */
    vertical-align: middle;
}

/* .listContainer{
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* li {
  margin-bottom: 8px;
}

input[type='checkbox'] {
  margin-right: 5px;
} */
  