.content {
    padding: 3rem;
    color: black;
}

.content div {
    padding: 0.5rem;
}

.CourseName {
    padding: 1rem;
    font-size: 2rem;
}

.Credits {
    text-align: left;
}

.Terms {
    display: flex;
}
.Term{
    margin: -0.5rem;
    margin-left: 0.5rem;
}
.Term~.Term::before {
    content: ', ';
}




.Proftotal {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
}

.Prof {
    float: left;
    display: flex;
    color: black;
    width: 20rem;
}

.PrevProf {
    float: right;
    display: flex;
    width: 20rem;
    color: grey;
}