.nav {
    position: fixed;
    z-index: 10;
    background-color: rgb(100, 0, 0);
    color: white;
}

.nav div {
    height: 3rem;
    width: 100vw;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    float: right;
}

.nav li:first-child {
    float: left;
}

.nav button {
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    color: white; /* Text color */
    display: block;
    text-align: center;
    padding: 1.5rem 1.5rem; /* Adjust padding as needed */
    text-decoration: none;
    width: 100%; /* Full width of the parent li */
    height: 100%; /* Full height of the parent li */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.nav button:hover {
    background-color: #8D89A6; /* Hover background color */
}
