/* courseCatalog.css */

.container {
    display: flex;
    background-color: white;
    /* justify-content: space-between; */
    /* height: 100vh; */
    width: 100%;
    margin: auto;
    padding-top: 5rem;
    color: black;
}

@media (max-width: 473px) { /* Adjust the max-width as needed */
    .container {
        padding-top: 9rem; /* Increase padding-top to accommodate the navbar */
    }
}

@media (max-width: 296px) { /* Adjust the max-width as needed */
    .container {
        padding-top: 14rem; /* Increase padding-top to accommodate the navbar */
    }
}

.filters_column {
    width: 30%; /* Adjust the width of the filters column */
}

.list_column {
    width: 70%; /* Adjust the width of the list column */
}

  